{% extends 'core/sidebariceb.html' %}
{% load widget_tweaks %}
{% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endif %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6 mx-5 my-3">
                <form method="post">
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn-primary mt-4 waves-effect btn waves-light">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}