{#{% if message %}#}
{#    <p>{{ message }}</p>#}
{#{% endif %}#}
{##}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Submit">#}
{#</form>#}

{% extends 'core/sidebarmilk.html' %}
<html>
<head>
    <title>Add Crop Into The System</title>
</head>
<body>
<h1>
    Add Crop
</h1>

{% block content %}
    {% if message %}
        <p>
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        </p>
    {% endif %}
    {% if error %}
        <p>
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {#        {{ form.as_p }}#}
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-4 m-5">
                    <div class="mb-3">
                        <label for="name" class="form-label">Customer : </label>
                        <select class="form-select" aria-label="Select Customer" name="customer">
                            {% for cus in form.customer %}
                                {{ cus }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date : </label>
                        <input type="date" class="form-control" id="date" name="date"
                               placeholder="Enter Date">
                    </div>
                    <div class="mb-3">
                        <label for="morning_milk" class="form-label">Morning Milk : </label>
                        <input type="text" class="form-control" id="morning_milk" name="morning_milk"
                               value="0"
                               placeholder="Enter Morning Milk">
                    </div>
                    <div class="mb-3">
                        <label for="evening_milk" class="form-label">Evening Milk : </label>
                        <input type="text" class="form-control" id="evening_milk" name="evening_milk"
                               value="0"
                               placeholder="Enter Evening Milk">
                    </div>
                    <div class="mb-3">
                        <label for="total_milk" class="form-label">Total Milk : </label>
                        <input type="text" class="form-control" id="total_milk" name="total_milk"
                               value="0"
                               placeholder="Enter Payment Recived">
                    </div>
                    <div class="mb-3">
                        <label for="rate" class="form-label">Rate : </label>
                        <input type="text" class="form-control" id="rate" name="rate"
                               value="0"
                               placeholder="Enter Payment Recived">
                    </div>
                    <div class="mb-3">
                        <label for="final_price" class="form-label">Final Price : </label>
                        <input type="text" class="form-control" id="final_price" name="final_price"
                               value="0"
                               placeholder="Enter Rate">
                    </div>
                    <button type="submit" class="btn-primary waves-effect btn waves-light">Add User</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        let morning_milk = document.getElementById('morning_milk');
        let evening_milk = document.getElementById('evening_milk');
        let total_milk = document.getElementById('total_milk');
        let payment_received = document.getElementById('rate');
        let final_price = document.getElementById('final_price');
        morning_milk.addEventListener('keyup', function () {
            total_milk.value = parseInt(morning_milk.value) + parseInt(evening_milk.value);
            final_price.value = parseInt(total_milk.value) * parseInt(payment_received.value);
        });
        evening_milk.addEventListener('keyup', function () {
            total_milk.value = parseInt(morning_milk.value) + parseInt(evening_milk.value);
            final_price.value = parseInt(total_milk.value) * parseInt(payment_received.value);
        });
        payment_received.addEventListener('keyup', function () {
            final_price.value = parseInt(total_milk.value) * parseInt(payment_received.value);
        });
    </script>
{% endblock %}
</body>
</html>