{#{% if message %}#}
{#    <p>{{ message }}</p>#}
{#{% endif %}#}
{##}
{#<table>#}
{#    <thead>#}
{#    <tr>#}
{#        <th>ID</th>#}
{#        <th>Name</th>#}
{#        <th>Actions</th>#}
{#    </tr>#}
{#    </thead>#}
{#    {% for expense in expenses %}#}
{#        <tr>#}
{#            <td>{{ expense.id }}</td>#}
{#            <td>{{ expense.name }}</td>#}
{#            <td>#}
{#                <a href={% url 'edit_expense_type' expense.id %}>#}
{#                    Edit Expense#}
{#                </a>#}
{#                <a href={% url 'delete_expense_type' expense.id %}>#}
{#                    Delete Expense#}
{#                </a>#}
{#            </td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#</table>#}
{#<table>#}
{#    <thead>#}
{#    <tr>#}
{#        <th>ID</th>#}
{#        <th>Name</th>#}
{#        <th>Actions</th>#}
{#    </tr>#}
{#    </thead>#}
{#    {% for crop in crops %}#}
{#        <tr>#}
{#            <td>{{ crop.id }}</td>#}
{#            <td>{{ crop.name }}</td>#}
{#            <td>#}
{#                <a href={% url 'edit_crop' crop.id %}>Edit Crop</a>#}
{#                <a href={% url 'delete_crop' crop.id %}>Delete Crop</a>#}
{#            </td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#</table>#}
{% extends 'core/sidebarfarming.html' %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Display Expense Types</title>
</head>
<body>
{% block content %}
    {% if message %}
        <p>
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        </p>
    {% endif %}
    <div class="card m-3">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h4 class="card-title">Expense Types</h4>
                </div>
                <div>
                    <form method="post" class="d-flex gap-5 h-auto">
                        {% csrf_token %}
                        <label for="export_format">Select Export Format:</label>
                        <select name="export_format" class="form-control w-100" id="export_format">
                            <option value="pdf">PDF</option>
                            <option value="csv">CSV</option>
                        </select>
                        <button class="btn btn-primary" type="submit">Export</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-nowrap">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for expense in expenses %}
                            <tr>
                                <th scope="row"><a href="#" class="fw-semibold">{{ expense.id }}</a></th>
                                <td>{{ expense.name }}</td>
                                <td>
                                    <a href={% url 'edit_expense_type' expense.id %}>Edit Crop</a> |
                                    <a href={% url 'delete_expense_type' expense.id %}>Delete Crop</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- end col -->
    </div>
{% endblock %}
</body>
</html>

