{% load static %}

<link rel="stylesheet" href='https://dmscdn.netlify.app/js/layout.js'/>
<!-- Bootstrap Css -->
<link rel="stylesheet" href='https://dmscdn.netlify.app/css/bootstrap.min.css'/>
<!-- Icons Css -->
<link rel="stylesheet" href='https://dmscdn.netlify.app/css/icons.min.css'/>
<!-- App Css-->
<link rel="stylesheet" href='https://dmscdn.netlify.app/css/app.min.css'/>
<!-- custom Css-->
<link rel="stylesheet" href='https://dmscdn.netlify.app/css/custom.min.css'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href='https://dmscdn.netlify.app/libs/jsvectormap/css/jsvectormap.min.css'/>
<link rel="stylesheet" href='https://dmscdn.netlify.app/libs/swiper/swiper-bundle.min.css' />
<link rel="stylesheet" href='https://dmscdn.netlify.app/css/custom.min.css'/>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href='libs/gridjs/theme/mermaid.min.css' />