{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        {% include 'core/cssloads.html' %}
    {% endblock %}
</head>
<body>
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href={% url 'admin_dash' %} class="logo">
        <span class="logo-sm">
{#                        <img src="assets/images/logo-sm.png" alt="" height="22">#}
                        <img src={% static "/images/logo-sm.png" %} alt="" height="22">
                    </span>
            <span class="logo-lg">
{#                        <img src="assets/images/logo-dark.png" alt="" height="17">#}
                        <img src={% static "/images/logo-dark.png" %} alt="" height="17">
                    </span>
        </a>
        <!-- Light Logo-->
        <a href={% url 'admin_dash' %} class="logo logo-light">
        <span class="logo-sm">
{#                        <img src="assets/images/logo-sm.png" alt="" height="22">#}
                        <img src={% static "/images/logo-sm.png" %} alt="" height="22">
                    </span>
        <span class="logo-lg">
{#                        <img src="assets/images/logo-light.png" alt="" height="17">#}
                        <img src={% static "/images/logo-light.png" %} alt="" height="17">
                    </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div class="scrollbar">
        <div class="container-fluid">
            <ul class="navbar-nav" id="navbar-nav" style="overflow: scroll;">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href={% url 'admin_dash' %}>
                        <i class="ri-dashboard-line"></i> <span data-key="t-dashboards">Admin Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<div class="vertical-overlay"></div>

{#other content#}
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col">

                <div class="h-100">
                    <div class="w-100">
                        <div class="row mb-3 pb-1">
                            <div class="col-12">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
    {% include 'core/jsloads.html' %}
{% endblock %}
{% block gridjs %}
{% endblock %}
</body>
</html>