{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        {% include 'core/cssloads.html' %}
    {% endblock %}
</head>
<body>
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href={% url 'admin_dash' %} class="logo logo-dark">
        <span class="logo-sm">
{#                        <img src="assets/images/logo-sm.png" alt="" height="22">#}
                        <img src={% static "/images/logo-sm.png" %} alt="" height="22">
                    </span>
        <span class="logo-lg">
{#                        <img src="assets/images/logo-dark.png" alt="" height="17">#}
                        <img src={% static "/images/logo-dark.png" %} alt="" height="17">
                    </span>
        </a>
        <!-- Light Logo-->
        <a href={% url 'admin_dash' %} class="logo logo-light">
        <span class="logo-sm">
{#                        <img src="assets/images/logo-sm.png" alt="" height="22">#}
                        <img src={% static "/images/logo-sm.png" %} alt="" height="22">
                    </span>
        <span class="logo-lg">
{#                        <img src="assets/images/logo-light.png" alt="" height="17">#}
                        <img src={% static "/images/logo-light.png" %} alt="" height="17">
                    </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href={% url 'admin_dash' %}>
                        <i class="ri-dashboard-line"></i> <span data-key="t-dashboards">Admin Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarUser" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarUsers">
                        <i class="ri-user-line"></i> <span data-key="t-dashboards">Manage User</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarUser">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'add_user' %} class="nav-link" data-key="t-analytics">
                                    Add User Into System
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'add_normal' %} class="nav-link" data-key="t-crm">
                                    Add User Into Business
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarCrop" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarCrop">
                        <i class="ri-hand-heart-line"></i> <span data-key="t-apps">Animal</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarCrop">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'create_animal' %} class="nav-link" data-key="t-calendar">Add
                                    Animals </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'display_animals' %} class="nav-link" data-key="t-chat"> Display
                                    Animal </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarSeason" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarSeason">
                        <i class="ri-calendar-line"></i> <span data-key="t-apps">Grass</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarSeason">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'create_grass' %} class="nav-link" data-key="t-calendar">Create
                                    Grass </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'display_grass' %} class="nav-link" data-key="t-chat"> Display
                                    Grass </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarExpenseType" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarExpenseType">
                        <i class="ri-money-euro-circle-line"></i> <span data-key="t-apps">Customer</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarExpenseType">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'create_customer' %} class="nav-link" data-key="t-calendar">
                                    Create Customer </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'display_customers' %} class="nav-link" data-key="t-chat">
                                    Display
                                    Customers </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarPayment" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarPayment">
                        <i class="ri-money-euro-circle-line"></i> <span data-key="t-apps">Payment</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarPayment">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'create_payment' %} class="nav-link" data-key="t-calendar">
                                    Create Payment </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'display_payments' %} class="nav-link" data-key="t-chat">
                                    Display
                                    Payments </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDailyProduction" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarDailyProduction">
                        <i class="ri-money-euro-circle-line"></i> <span data-key="t-apps">Daily Production</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDailyProduction">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'create_daily_production' %} class="nav-link" data-key="t-calendar">
                                    Create Daily Production </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'display_daily_production' %} class="nav-link" data-key="t-chat">
                                    Display
                                    Daily Production
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDailyDelivery" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarDailyDelivery">
                        <i class="ri-money-euro-circle-line"></i> <span data-key="t-apps">Daily Delivery</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDailyDelivery">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'create_daily_delivery' %} class="nav-link" data-key="t-calendar">
                                    Create Daily Delivery </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'display_daily_delivery' %} class="nav-link" data-key="t-chat">
                                    Display Daily Delivery
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLabor" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLabor">
                        <i class="ri-money-euro-circle-line"></i> <span data-key="t-apps">Labor</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLabor">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'create_labor' %} class="nav-link" data-key="t-calendar">
                                    Create Labor </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'display_labor' %} class="nav-link" data-key="t-chat">
                                    Display Labor
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarExpense" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarExpense">
                        <i class="ri-money-euro-circle-line"></i> <span data-key="t-apps">Expenses</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarExpense">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href={% url 'create_milk_expense' %} class="nav-link" data-key="t-calendar">
                                    Create Expense </a>
                            </li>
                            <li class="nav-item">
                                <a href={% url 'display_milk_expenses' %} class="nav-link" data-key="t-chat">
                                    Display Expenses
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<div class="vertical-overlay"></div>

{#other content#}
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col">

                <div class="h-100">
                    <div class="w-100">
                        <div class="row mb-3 pb-1">
                            <div class="col-12">
                                {% block content %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
    {% include 'core/jsloads.html' %}
{% endblock %}
{% block gridjs %}
{% endblock %}
</body>
</html>