{% extends 'core/sidebaricechip.html' %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Display Crop</title>
</head>
<body>
{% block content %}
    {% if message %}
        <p>
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        </p>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-nowrap">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Paid Amount</th>
                    <th scope="col">Pending Amount</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td>{{ customer.paid_amount }}</td>
                        <td>{{ customer.pending_amount }}</td>
                        <td>
                            <a href="{% url 'edit_customer_icechip' customer.id %}">Edit</a> |
                            <a href="{% url 'delete_customer_icechip' customer.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- end col -->
    </div>
{% endblock %}
</body>
</html>


