{% extends 'core/sidebaricechip.html' %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Display Crop</title>
</head>
<body>
{% block content %}
    {% if message %}
        <p>
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        </p>
    {% endif %}
    <div class="card m-3">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h4 class="card-title">Ice Chips Delivery</h4>
                </div>
                <div>
                    <form method="post" class="d-flex gap-5 h-auto">
                        {% csrf_token %}
                        <label for="export_format">Select Export Format:</label>
                        <select name="export_format" class="form-control w-100" id="export_format">
                            <option value="pdf">PDF</option>
                            <option value="csv">CSV</option>
                        </select>
                        <button class="btn btn-primary" type="submit">Export</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-nowrap">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Date</th>
                            <th scope="col">Ice Block Delivered</th>
                            <th scope="col">One Ice Block Price</th>
                            <th scope="col">Total Ice Block Price</th>
                            <th scope="col">Additional Charge</th>
                            <th scope="col">Total Charge</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dev in deliveries %}
                            <tr>
                                <td>{{ dev.id }}</td>
                                <td>{{ dev.customer }}</td>
                                <td>{{ dev.date }}</td>
                                <td>{{ dev.daily_ice_block_given }}</td>
                                <td>{{ dev.one_ice_chip_price }}</td>
                                <td>{{ dev.total_ice_chip_price }}</td>
                                <td>{{ dev.additional_transportation_charge }}</td>
                                <td>{{ dev.total_charge }}</td>
                                <td>
                                    <a href="{% url 'edit_delivery_icechip' dev.id %}">Edit</a> |
                                    <a href="{% url 'delete_delivery_icechip' dev.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
{% endblock %}
</body>
</html>


