{#<table>#}
{#    <thead>#}
{#        <tr>#}
{#            <th>id</th>#}
{#            <th>Customer Name</th>#}
{#            <th>Date</th>#}
{#            <th>Ice Block Delivered</th>#}
{#            <th>#}
{#                One Ice Block Price#}
{#            </th>#}
{#            <th>#}
{#                Total Ice Block Price#}
{#            </th>#}
{#            <th>#}
{#                Additional Transportation Charge#}
{#            </th>#}
{#            <th>#}
{#                Total Charge#}
{#            </th>#}
{#            <th>#}
{#                Action#}
{#            </th>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for delivery in deliveries  %}#}
{#        <tr>#}
{#            <td>{{ delivery.id }}</td>#}
{#            <td>{{ delivery.customer }}</td>#}
{#            <td>{{ delivery.date }}</td>#}
{#            <td>{{ delivery.daily_ice_block_given }}</td>#}
{#            <td>{{ delivery.one_ice_block_price }}</td>#}
{#            <td>{{ delivery.total_ice_block_price }}</td>#}
{#            <td>{{ delivery.additional_transportation_charge }}</td>#}
{#            <td>{{ delivery.total_charge }}</td>#}
{#        <td>#}
{#            <a href={% url 'edit_delivery_iceb' delivery.id %}>Edit</a>#}
{#            <a href={% url 'delete_delivery_iceb' delivery.id %}>Delete</a>#}
{#        </td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}

{% extends 'core/sidebariceb.html' %}
{% load i18n %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
    <title>Display Crop</title>
</head>
<body>
{% block content %}
    {% if message %}
        <p>
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        </p>
    {% endif %}
    <form method="get">
        {% for field in filter.form %}
            <div class="form-group">
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
            </div>
        {% endfor %}
        <button type="submit" class="btn mt-3 btn-primary">Filter</button>
        <button type="submit" class="btn mt-3 btn-primary" name="export" value="1">Export CSV</button>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-nowrap">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Ice Block Delivered</th>
                    <th scope="col">One Ice Block Price</th>
                    <th scope="col">Total Ice Block Price</th>
                    <th scope="col">Additional Transportation Charge</th>
                    <th scope="col">Total Charge</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for delivery in filter.qs %}
                    <tr>
                        <td>{{ delivery.id }}</td>
                        <td>{{ delivery.customer }}</td>
                        <td>{{ delivery.date }}</td>
                        <td>{{ delivery.daily_ice_block_given }}</td>
                        <td>{{ delivery.one_ice_block_price }}</td>
                        <td>{{ delivery.total_ice_block_price }}</td>
                        <td>{{ delivery.additional_transportation_charge }}</td>
                        <td>{{ delivery.total_charge }}</td>
                        <td>
                            <a href={% url 'edit_delivery_iceb' delivery.id %}>Edit</a> |
                            <a href={% url 'delete_delivery_iceb' delivery.id %}>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- end col -->
    </div>
{% endblock %}
</body>
</html>


