{% extends 'core/sidebarmanageuser.html' %}

<html>
<head>
    <title>Form</title>
</head>
<body>
{% block content %}
    {% if message %}
        <p>
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        </p>
    {% endif %}
    {% if error %}
        <p>
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        </p>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-4 m-5">
                <form method="post">
                    {% csrf_token %}
                    <select name="user" class="mb-3 form-select">
                        {% for user in form.user %}
                            {{ user }}
                        {% endfor %}
                    </select>
                    <select name="business" class="mb-3 form-select">
                        {% for bussiness in form.business %}
                            {{ bussiness }}
                        {% endfor %}
                    </select>
                    {{ form.is_admin }} Is admin <br class="mb-2">
                    <button type="submit" class="btn-primary waves-effect btn waves-light">Submit</button>
                </form>
            </div>
        </div>
    </div>s
{% endblock %}
</body>

</html>
