{% if message %}
    <p>
        {{ message }}
    </p>
{% endif %}

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>customer</th>
        <th>date</th>
        <th>morning milk</th>
        <th>evening milk</th>
        <th>total milk</th>
        <th>rate</th>
        <th>final price</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for daily_deliverie in daily_deliveries %}
        <tr>
            <td>{{ daily_deliverie.id }}</td>
            <td>{{ daily_deliverie.customer }}</td>
            <td>{{ daily_deliverie.date }}</td>
            <td>{{ daily_deliverie.morning_milk }}</td>
            <td>{{ daily_deliverie.evening_milk }}</td>
            <td>{{ daily_deliverie.total_milk }}</td>
            <td>{{ daily_deliverie.final_price }}</td>
        <td>
                <a href={% url 'edit_daily_delivery' payment.id %}>Edit</a>
                <a href={% url 'edit_daily_delivery' payment.id %}>Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>