{#<table>#}
{#    <thead>#}
{#    <tr>#}
{#        <th>id</th>#}
{#        <th>locations</th>#}
{#        <th>owner name</th>#}
{#        <th>owner mobile</th>#}
{#        <th>total gross amount</th>#}
{#        <th>rate</th>#}
{#        <th>final price</th>#}
{#        <th>due amount</th>#}
{#        <th>amount to be paid</th>#}
{#        <th>action</th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for grass in grasses %}#}
{#        <tr>#}
{#            <td>#}
{#                {{ grass.id }}#}
{#            </td>#}
{#            <td>#}
{#                {{ grass.locations }}#}
{#            </td>#}
{#            <td>#}
{#                {{ grass.owner_name }}#}
{#            </td>#}
{#            <td>#}
{#                {{ grass.owner_mobile }}#}
{#            </td>#}
{#            <td>#}
{#                {{ grass.total_amount_grass }}#}
{#            </td>#}
{#            <td>#}
{#                {{ grass.rate }}#}
{#            </td>#}
{#            <td>#}
{#                {{ grass.final_price }}#}
{#            </td>#}
{#            <td>#}
{#                {{ grass.due_amount }}#}
{#            </td>#}
{#            <td>#}
{#                {{ grass.amount_to_be_paid }}#}
{#            </td>#}
{#            <td>#}
{#                <a href={% url 'edit_grass' grass.id %}>Edit</a>#}
{#                <a href={% url 'delete_grass' grass.id %}>Delete</a>#}
{#            </td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}


{% extends 'core/sidebarmilk.html' %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Display Crop</title>
</head>
<body>
{% block content %}
    {% if message %}
        <p>
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        </p>
    {% endif %}
    <div class="card m-3">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h4 class="card-title">Season Types</h4>
                </div>
                <div>
                    <form method="post" class="d-flex gap-5 h-auto">
                        {% csrf_token %}
                        <label for="export_format">Select Export Format:</label>
                        <select name="export_format" class="form-control w-100" id="export_format">
                            <option value="pdf">PDF</option>
                            <option value="csv">CSV</option>
                        </select>
                        <button class="btn btn-primary" type="submit">Export</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-nowrap">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>location</th>
                            <th>owner name</th>
                            <th>owner mobile</th>
                            <th>total gross amount</th>
                            <th>rate</th>
                            <th>final price</th>
                            <th>due amount</th>
                            <th>amount to be paid</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for grass in grasses %}
                            <tr>
                                <td>
                                    {{ grass.id }}
                                </td>
                                <td>
                                    {{ grass.location }}
                                </td>
                                <td>
                                    {{ grass.owner_name }}
                                </td>
                                <td>
                                    {{ grass.owner_mobile }}
                                </td>
                                <td>
                                    {{ grass.total_amount_grass }}
                                </td>
                                <td>
                                    {{ grass.rate }}
                                </td>
                                <td>
                                    {{ grass.final_price }}
                                </td>
                                <td>
                                    {{ grass.due_amount }}
                                </td>
                                <td>
                                    {{ grass.amount_to_be_paid }}
                                </td>
                                <td>
                                    <a href={% url 'edit_grass' grass.id %}>Edit</a> |
                                    <a href={% url 'delete_grass' grass.id %}>Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
{% endblock %}
</body>
</html>

