<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>mobile_number</th>
        <th>labor_type</th>
        <th>payment_to_paid</th>
        <th>credit</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    {% for labor in labors %}
        <tr>
            <td>{{ labor.id }}</td>
            <td>{{ labor.name }}</td>
            <td>{{ labor.mobile_number }}</td>
            <td>{{ labor.labor_type }}</td>
            <td>{{ labor.payment_to_be_paid }}</td>
            <td>{{ labor.credit }}</td>
            <td>
                <a href={% url 'edit_labor' grass.id %}>Edit</a>
                <a href={% url 'delete_labor' grass.id %}>Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>